# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# Webpack directories
.webpack

# Swagger generated/downloaded API configs
swagger-api.json

# Environment
.env

# Log-files
*.log

# SQL
insert.sql